* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  animation: floatUp 20s infinite ease-in-out;
}

.circle-1 {
  width: 120px;
  height: 120px;
  left: 10%;
  bottom: -10%;
  animation-duration: 25s;
  animation-delay: 0s;
}

.circle-2 {
  width: 80px;
  height: 80px;
  left: 30%;
  bottom: -5%;
  animation-duration: 30s;
  animation-delay: 2s;
}

.circle-3 {
  width: 150px;
  height: 150px;
  left: 50%;
  bottom: -15%;
  animation-duration: 35s;
  animation-delay: 4s;
}

.circle-4 {
  width: 100px;
  height: 100px;
  left: 70%;
  bottom: -8%;
  animation-duration: 28s;
  animation-delay: 1s;
}

.circle-5 {
  width: 90px;
  height: 90px;
  left: 85%;
  bottom: -12%;
  animation-duration: 32s;
  animation-delay: 3s;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-50vh) translateX(20px);
    opacity: 0.15;
  }
  100% {
    transform: translateY(-100vh) translateX(-10px);
    opacity: 0.1;
  }
}

.main-content {
  margin-top: 70px; /* Header 높이만큼 여백 */
  min-height: calc(100vh - 70px);
  position: relative;
  z-index: 1;
}
